main.json
[
    {
        "id": "c1b13fb30c829ab7",
        "type": "ui_form",
        "z": "ec120fa2edfe719f",
        "name": "Firewall Login Info",
        "label": "Firewall Login Info",
        "group": "5f0b10fec7464c32",
        "order": 2,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "IP Address",
                "value": "ip_address",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "firewall name",
                "value": "names",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Expert Password",
                "value": "expert_password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "ip_address": "",
            "names": "",
            "password": "",
            "expert_password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 550,
        "y": 460,
        "wires": [
            [
                "e1064f4564d24adc"
            ]
        ]
    },
    {
        "id": "e1064f4564d24adc",
        "type": "function",
        "z": "ec120fa2edfe719f",
        "name": "Function Check Ip",
        "func": "let ip = msg.payload['ip_address'];\n\n// Regex pattern untuk validasi IPv4\nconst ipv4Pattern = /^(25[0-5]|2[0-4]\\d|1\\d{2}|[1-9]?\\d)\\.(25[0-5]|2[0-4]\\d|1\\d{2}|[1-9]?\\d)\\.(25[0-5]|2[0-4]\\d|1\\d{2}|[1-9]?\\d)\\.(25[0-5]|2[0-4]\\d|1\\d{2}|[1-9]?\\d)$/;\n\n// Memeriksa apakah IP valid\nlet isValid = ipv4Pattern.test(ip);\n\n// Menambahkan hasil validasi ke payload\nmsg.payload['isvalid'] = isValid;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 460,
        "wires": [
            [
                "97547dedf9e3ca2a"
            ]
        ]
    },
    {
        "id": "9b87dccdff0993c0",
        "type": "debug",
        "z": "ec120fa2edfe719f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 460,
        "wires": []
    },
    {
        "id": "97547dedf9e3ca2a",
        "type": "function",
        "z": "ec120fa2edfe719f",
        "name": "Function Cryptograpy",
        "func": "if (!msg.payload[\"isvalid\"]){\n    return msg.bijji = 0;\n}\n\ncontext.set(\"encrypted_passwords\", msg.payload);\n\nconst crypto = global.get(\"crypto\");\nmsg.topic=\"nol\"\nconst passphrase = \"k*2ja6g3n1\";\n\nfunction deriveKey(passphrase, salt) {\n    return crypto.pbkdf2Sync(passphrase, salt, 16384, 32, 'sha256');\n}\n\nfunction encryptPassword(plainPassword) {\n    const salt = crypto.randomBytes(16); // 16 bytes for salt\n    const nonce = crypto.randomBytes(12); // 12 bytes for AES-GCM nonce\n    const key = deriveKey(passphrase, salt);\n\n    const cipher = crypto.createCipheriv('aes-256-gcm', key, nonce);\n    const ciphertext = Buffer.concat([cipher.update(plainPassword, 'utf8'), cipher.final()]);\n    const tag = cipher.getAuthTag(); // 16 bytes for authentication tag\n\n    // Combine nonce, salt, tag, and ciphertext\n    const encryptedData = Buffer.concat([nonce, salt, tag, ciphertext]);\n\n    return encryptedData.toString('base64'); // Encode as Base64 for storage/transmission\n}\n\n// Example usage in Node-RED\nconst expertPassword = msg.payload['expert_password'];\nconst password = msg.payload['password'];\n// Assuming msg.payload contains the password to encrypt\nmsg.payload['expert_password'] = encryptPassword(expertPassword);\nmsg.payload['password'] = encryptPassword(password);\n\nmsg.parts = {\n    id: 1, // ID yang sama untuk semua pesan dalam satu set\n    index: 1,        // Urutan pertama\n    count: 2         // Total pesan yang diharapkan\n};\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 460,
        "wires": [
            [
                "07fd91e02ff60351"
            ]
        ]
    },
    {
        "id": "bac9d0258aa4c75b",
        "type": "debug",
        "z": "ec120fa2edfe719f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2230,
        "y": 460,
        "wires": []
    },
    {
        "id": "a2ec40f127faef11",
        "type": "ui_form",
        "z": "ec120fa2edfe719f",
        "name": "Firewall Data Info",
        "label": "Firewall Data Info",
        "group": "ce0b45e54974f03f",
        "order": 2,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "firewall name",
                "value": "name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "firewall Location",
                "value": "location",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "firewall Site",
                "value": "site",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "name": "",
            "location": "",
            "site": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "1481c87136d9e6f6"
            ]
        ]
    },
    {
        "id": "52eb6b6c8e022e1f",
        "type": "ui_dropdown",
        "z": "ec120fa2edfe719f",
        "name": "fk_fw_id",
        "label": "fk_fw_id",
        "tooltip": "",
        "place": "Select option",
        "group": "5f0b10fec7464c32",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "fk_fw_id",
        "topicType": "msg",
        "x": 1100,
        "y": 320,
        "wires": [
            [
                "11543a6680373876"
            ]
        ]
    },
    {
        "id": "ac1c8e8c36a9a85e",
        "type": "function",
        "z": "ec120fa2edfe719f",
        "name": "function 2",
        "func": "const inputs = msg.payload;\nlet bijji = [];\n\ninputs.forEach(input => {\n    let obj = {};\n    obj[input.fw_name] = input.id;  // Use input.fw_name as the key and input.id as the value\n    bijji.push(obj);\n});\n\nmsg.options = bijji;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 240,
        "wires": [
            [
                "52eb6b6c8e022e1f"
            ]
        ]
    },
    {
        "id": "1481c87136d9e6f6",
        "type": "MSSQL",
        "z": "ec120fa2edfe719f",
        "mssqlCN": "4a627f09ccdae4bf",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "INSERT INTO tbl_m_firewall (fw_name, fw_location, fw_site) \r\nVALUES ('{{payload.name}}', '{{payload.location}}', '{{payload.site}}');\r\n",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "2b9baf9a77f12578"
            ]
        ]
    },
    {
        "id": "834d8fe49592836b",
        "type": "MSSQL",
        "z": "ec120fa2edfe719f",
        "mssqlCN": "4a627f09ccdae4bf",
        "name": "Get Fw Name for drop down",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "select id,fw_name from tbl_m_firewall where deleted_at is null;",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 840,
        "y": 240,
        "wires": [
            [
                "ac1c8e8c36a9a85e"
            ]
        ]
    },
    {
        "id": "aa820c7df09b9209",
        "type": "delay",
        "z": "ec120fa2edfe719f",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 320,
        "wires": [
            [
                "834d8fe49592836b"
            ]
        ]
    },
    {
        "id": "2b9baf9a77f12578",
        "type": "function",
        "z": "ec120fa2edfe719f",
        "name": "function 3",
        "func": "msg.payload=[];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 240,
        "wires": [
            [
                "834d8fe49592836b"
            ]
        ]
    },
    {
        "id": "a8a0b64da63c967d",
        "type": "inject",
        "z": "ec120fa2edfe719f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 630,
        "y": 140,
        "wires": [
            [
                "834d8fe49592836b"
            ]
        ]
    },
    {
        "id": "07fd91e02ff60351",
        "type": "join",
        "z": "ec120fa2edfe719f",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1450,
        "y": 520,
        "wires": [
            [
                "4a6a62c27ff31902"
            ]
        ]
    },
    {
        "id": "11543a6680373876",
        "type": "function",
        "z": "ec120fa2edfe719f",
        "name": "function 7",
        "func": "msg.topic = \"koto\"\nmsg.parts = {\n    id: 1, \n    index: 0, \n    count: 2      \n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 380,
        "wires": [
            [
                "07fd91e02ff60351"
            ]
        ]
    },
    {
        "id": "4c32ae0ec9890fc3",
        "type": "MSSQL",
        "z": "ec120fa2edfe719f",
        "mssqlCN": "4a627f09ccdae4bf",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "query",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": false,
        "params": [
            {
                "output": false,
                "name": "param1",
                "type": "int",
                "valueType": "num",
                "value": "0",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            }
        ],
        "x": 2020,
        "y": 560,
        "wires": [
            [
                "bac9d0258aa4c75b"
            ]
        ]
    },
    {
        "id": "4a6a62c27ff31902",
        "type": "function",
        "z": "ec120fa2edfe719f",
        "name": "function 8",
        "func": "msg.payload[0] = Number(msg.payload[0]); // Cast to a number (long)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 560,
        "wires": [
            [
                "9b87dccdff0993c0",
                "5f54173448a45f8f"
            ]
        ]
    },
    {
        "id": "5f54173448a45f8f",
        "type": "function",
        "z": "ec120fa2edfe719f",
        "name": "function 9",
        "func": "let query = `\nINSERT INTO tbl_r_firewall_login (fk_m_firewall, fw_ip_address, fw_username, fw_password, fw_expert_password) \nVALUES (${msg.payload[0]}, '${msg.payload[1].ip_address}', '${msg.payload[1].names}', '${msg.payload[1].password}', '${msg.payload[1].expert_password}');\n`;\nmsg.query = query;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1820,
        "y": 560,
        "wires": [
            [
                "4c32ae0ec9890fc3"
            ]
        ]
    },
    {
        "id": "5f0b10fec7464c32",
        "type": "ui_group",
        "name": "Layer2",
        "tab": "f53f48ec431449a3",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "ce0b45e54974f03f",
        "type": "ui_group",
        "name": "Layer1",
        "tab": "f53f48ec431449a3",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "4a627f09ccdae4bf",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "CP_FW_DEVEL",
        "server": "DESKTOP-E5QF6IJ",
        "port": "1433",
        "encyption": true,
        "trustServerCertificate": true,
        "database": "DBO_CHECKPOINT_FIREWALL",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true,
        "readOnlyIntent": false
    },
    {
        "id": "f53f48ec431449a3",
        "type": "ui_tab",
        "name": "cpfwinput",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]